################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Protus/bin/Debug/netcoreapp3.1
/Protus/obj
