<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy; Protus - Programming Tutoring System
            <script>document.write(new Date().getFullYear())</script>. All Rights Reserved
        </div>
    </div>
</footer>