
@{

    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12" style="padding:5px 20px;">
        <h4>Programming tutoring system</h4>
        <p>Protus is a tutoring system designed to help learners in learning essentials of programming languages. The environment is designed for learners with no programming experience.</p>
        <p><strong>ProTuS includes:</strong></p>
        <p>
            – Tutorials for students<br />
            – Various examples for every particular lesson<br />
            – Programming challenges that you can use to test your understanding on topics<br />
            – Coding exercises (will be activated in the later phase of the course)<br />
            – Summaries and reports about student's work
        </p>
        <p><strong>Limitations</strong></p>
        <p>In order to make the learning process smooth and non distructed, some of the features of the system have been disabled:</p>
        <p>
            – Communication options<br />
            – Several personalisation options (learning styles identification and tag-based recommendations)<br />
            – Statistics reports (several reports will be added during the course)<br />
            – Access to other courses and materials
        </p>



    </div>
    
</div>

