@model Protus.Data.Entities.Topic
@{
    ViewData["Title"] = "Topic Details";
}
 
<div class="row">
    <div class="col-md-12" style="padding:5px 20px;">
        <h4>@Model.Name</h4>
        @(Html.Raw(Model.Description))
    </div>

</div>

